* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

header {
  width: 80%;
  background-color: #2c3e50;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  padding: 10px;
}

header nav {
  width: 70%;
  color: #f5f5f5;
  display: block;
  margin: auto;
}

#fondo {
  padding-top: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

.texto {
  display: block;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titulo {
  text-align: center;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.area {
  border-radius: 5px;
  border-color: #31c3a6;
  text-align: center;
}

.datos {
  margin: 5px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input {
  padding: 10px;
  margin: 5px;
  border: 0;
  background-color: #f5f5f5;
  box-shadow: #f5f5f5;
  outline: none;
}
