.activityForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.activityForm-name {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    background-color: var(--clouds);
    border: none;
    border-bottom: 3px solid var(--concrete);
    margin-right: 20px;
}

.activityForm-name:focus {
    outline: none;
    border-bottom-color: var(--primary-color);
}

.activityForm-description {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    background-color: var(--clouds);
    border: none;
    border-bottom: 3px solid var(--concrete);
    resize: vertical;
    margin-right: 20px;
}

.activityForm-description:focus {
    outline: none;
    border-bottom-color: var(--primary-color);
}

@media (max-width: 600px) {
    .activityForm {
        flex-direction: column;
    }

    .activityForm-name {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .activityForm-description {
        margin-right: 0;
        margin-bottom: 20px;
    }
}