.commentList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.commentList-item {
    padding: 15px 20px;
    border: 1px solid #ddd;
}

.commentList-item:not(:first-of-type) {
    margin-top: -1px;
}

.commentForm {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.commentForm-textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    resize: vertical;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.commentForm-button {
    margin-left: 10px;
}