.memberList {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--concrete);
  border-radius: 0.5em;
  width: 100%;
}

.memberList-item {
  border-top: 1px solid var(--concrete);
  font-size: 1.2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.memberList-item:first-child {
  border-top: 0;
}

.memberForm {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.memberForm-users {
  display: block;
  font-size: 1rem;
  color: var(--primary-color);
  line-height: 1.3;
  padding: 15px 26px;
  width: 100%;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 3px solid var(--concrete);
  margin-right: 1rem;
  background-color: var(--clouds);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2334495E%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 8px top 50%, 0 0;
  background-size: 10px auto;
}

.projectForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.projectForm-projects {
  display: block;
  font-size: 1rem;
  color: var(--primary-color);
  line-height: 1.3;
  padding: 15px 26px;
  width: 100%;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 3px solid var(--concrete);
  margin-right: 1rem;
  background-color: var(--clouds);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2334495E%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 8px top 50%, 0 0;
  background-size: 10px auto;
}

.projectForm-date {
  display: block;
  width: 100%;
  padding: 15px;
  color: var(--primary-color);
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--clouds);
  border: none;
  border-bottom: 3px solid var(--concrete);
  margin-right: 1rem;
}